<body>
    <div ng-controller="HomeController">
        <h2>Share, vote and comment !</h2>
        <div>Filter by <button ng-click="changeFilter('-vote')">Vote</button> - <button ng-click="changeFilter('-createdAt')">Date</button></div>

        <div ng-repeat="article in dataArray | orderBy:propertyName">
            <h3><a target="_blank" href="{{article.url}}">{{$index + 1}} - {{article.title}}</a></h3>
            <div class ="title">
                <button class="vote" ng-click="vote(article, 1)"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                <button class="vote" ng-click="vote(article, -1)"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                {{article.vote}}
            </div>
            <div>Created the {{article.createdAt | date: 'MMM d, y h:mm:ss a'}} by {{article.creator}}</div>
        </div>
    </div>
</body>

<style>
    .vote {
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        cursor:pointer
    }
    .title {
        display: inline-block;
    }
    h3 {
        display: inline-block;
        margin-right: 10px;
    }
</style>
